@tailwind preflight

@tailwind components

.markup
  white-space: pre-wrap
  word-wrap: break-word
  font-family: inherit
  max-width: 30rem

a
  color: #383333

a:hover
  color: #b5a9a0

.paypal
  background-color: #ffc439

.paypal:hover
  background-color: darken(#ffc439, 10%)

@tailwind utilities