@tailwind preflight

@tailwind components

.btn
  @apply .cursor-pointer .inline-block .border .antialiased .font-bold .text-sm .px-8 .py-3 .no-underline .rounded-full

body
  background-image: url(/images/bg.svg)
  background-size: 2000px auto
  background-color: #413b3b
  background-repeat: no-repeat

a
  color: #383333

.markup
  white-space: pre-wrap
  word-wrap: break-word

.content
  p
    margin-top: 1rem
    margin-bottom: 1rem

.paypal
  background-color: #ffc439

.paypal:hover
  background-color: darken(#ffc439, 10%)

@tailwind utilities

.font-serif
  font-family: 'Pacifico', cursive
